@font-face {
	font-family: "Roboto Regular";
	src: url("./assets/roboto_regular.ttf");
}

@font-face {
	font-family: "Roboto Light";
	src: url("./assets/roboto_light.ttf");
}

@font-face {
	font-family: "Roboto Medium";
	src: url("./assets/roboto_medium.ttf");
}

@font-face {
	font-family: "Roboto Black";
	src: url("./assets/roboto_black.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
}

html, body, #root, .App {
	height: 100%;
}

body {
	font-family: "Roboto Regular";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #222;
	color: #eee;
}

.popupOverlay {
	animation: appear .3s ease-in-out;
	background: #00000088;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 1;
}

button, a {
	outline: none;
	color: #eee;
}

button {
	font-family: "Roboto Black";
	background: #003366;
	border: none;
}

a {
	text-decoration: none;
}

/*
	* KEYFRAMES
*/

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
