.login {
    height: 100%;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        margin-bottom: 20px;
        font-family: "Roboto Black";
        font-size: 2.5em;
    }

    label {
        margin: 20px 0;
        width: 100%;

        p {
            margin-bottom: 20px;
            font-size: 1.5em;
        }

        input {
            outline: none;
            width: 100%;
            border: none;
            background: #111;
            border-radius: 5px;
            padding: 20px;
            transition: background .3s ease-in-out;
            color: #eee;
            font-size: 1.5em;

            &::placeholder {
                font-family: "Roboto Light";
            }

            &:focus,
            &:hover {
                background: #000;
            }
        }

    }

    button {
        margin-top: 20px;
        width: 100%;
        border-radius: 5px;
        padding: 10px 0;
        font-size: 1.5em;
    }
}