.editReport {
	transition: width 0.3s ease-in-out;
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: #000;
	color: #fff;
	outline: none;
	padding: 0 5vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-family: "Roboto Black";
        margin-bottom: 20px;
    }

    label {
        width: 100%;
        margin: 10px 0;

        p {
            margin-bottom: 10px;
        }

        input {
            outline: none;
            width: 100%;
            border: none;
            background: #111;
            border-radius: 5px;
            padding: 10px;
            transition: background .3s ease-in-out;
            color: #eee;

            &::placeholder {
                font-family: "Roboto Light";
            }

            &:focus,
            &:hover {
                background: #222;
            }
        }

        textarea {
            border-radius: 5px;
            outline: none;
            border: none;
            padding: 10px;
            background: #111;
            resize: vertical;
            width: 100%;
            color: #eee;
        }
    }

    button {
        margin-top: 10px;
        border-radius: 5px;
        padding: 10px 20px;
    }
}

/*
    * MEDIA QUERIES
*/

@media only screen and (min-width: 650px) {
    .editReport {
        padding: 0 10vh;
    }
}