.reports {
    height: 100%;
    padding: 5vh 10vw;

    h2 {
        font-family: "Roboto Black";
        font-size: 2.5em;
    }

    .reports-list {
        margin: 30px 0;
        height: 800px;
        overflow-y: auto;
    }

    .options {
        display: grid;
        grid-gap: 20px;
        grid-template-areas:
            "logout logout"
            "signoff newreport";

        a {
            width: 100%;
            border-radius: 5px;
            font-size: 1.5em;
            padding: 10px;
            font-family: "Roboto Black";
            text-align: center;
            background: transparent;
            border: solid 2px #003366;
        }

        .logout {
            grid-area: logout;
        }

        .signoff {
            grid-area: signoff;
        }

        .newreport {
            grid-area: newreport;
        }

        button {
            width: 100%;
            border-radius: 5px;
            font-size: 1.5em;
            padding: 10px;
        }
    }
}