.card {
    margin-bottom: 10px;
    background: #000;
    border-radius: 5px;
    padding: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        font-family: "Roboto Medium";
        margin-bottom: 10px;
    }

    .edit {
        background: transparent;
        border: solid 2px #003366;
    }

    .desc {
        margin-bottom: 10px;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: 10px;
            padding: 10px;
            border-radius: 5px;
        }
    }

}