.signOffConfirm {
	box-shadow: #00000088 0 0 10px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	transition: width 0.3s ease-in-out;
	position: fixed;
	top: 50%;
	left: 50%;
    min-width: 300px;
	background: #222;
	color: #fff;
	border-radius: 5px;
	outline: none;
	padding: 20px;
    z-index: 1;

	h3 {
        font-family: "Roboto Black";
        margin-bottom: 10px;
    }

    label {
        width: 100%;
        margin: 10px 0;

        p {
            margin-bottom: 10px;
        }

        input {
            outline: none;
            width: 100%;
            border: none;
            background: #111;
            border-radius: 5px;
            padding: 10px;
            transition: background .3s ease-in-out;
            color: #eee;

            &::placeholder {
                font-family: "Roboto Light";
            }

            &:focus,
            &:hover {
                background: #222;
            }
        }
    }

    .options {
        margin-top: 10px;
        display: flex;
		justify-content: flex-end;

        button {
            filter: saturate(0.7);
            transition: filter .3s ease-in-out;
            font-family: "Roboto Black";
            padding: 5px 10px;
            border-radius: 10px;
            outline: none;
            text-transform: uppercase;

            &:focus,
            &:hover {
                filter: saturate(1);
            }

            // ICON
            svg {
                margin-left: 5px;
                font-size: .9em;
            }
        }

        // CANCEL BUTTON
        .cancel {
            transition: color .3s ease-in-out;
            background: transparent;

            &:focus,
            &:hover {
                color: #ff6961;
            }
        }
    }
}
